@page
@model BusDriver
@{
    ViewData["Title"] = "Bus Route Tracker";
}


<h1>Bus Route Tracker</h1>

<body>
    <div>
        <h3>Boarding #: @Model.Boarding</h3>
        <button type = "button" class = "btn btn-lg" onclick="@(() => Model.DecreaseOnBoard())">-</button>
        <span id = "counter1">0</span>
        <button type = "button" class = "btn btn-lg" onclick="@(() => Model.IncreaseOnBoard())">+</button>
        
    </div>


    <div>
        <h3>Departing #: @Model.Exiting</h3>
        <button type = "button" class = "btn btn-lg" onclick="@(() => Model.DecreaseDeparting())">-</button>
        <span id = "counter2">0</span>
        <button type = "button" class = "btn btn-lg" onclick="@(() => Model.IncreaseDeparting())">+</button>
        
    </div>
</body>